/* 全体のスタイル */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダーのスタイル */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444;
    color: white;
    position: relative;
    height: 50px;
}

.left-buttons, .right-buttons {
    display: flex;
}

.right-buttons {
    margin-left: auto;
}

.settings-button, .control-button {
    background-color: #666;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px; /* ボタン間に余白を追加 */
}

.control-button {
    margin-left: 10px;
}

.title {
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

/* メインコンテンツのスタイル */
.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
}

.media {
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    flex-direction: column; /* 要素を縦方向に並べる */
    width: 100%; /* 親要素の幅に合わせる */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

/* メディアクエリ */
@media (max-width: 768px) {
    .header, .main, .content, .media {
        flex-direction: column;
    }

    .settings-button, .title {
        position: static;
        transform: none;
        margin: 10px auto;
    }

    .status, .image-container {
        width: 100%;
    }
}

/* ウィンドウデザイン */
.window-design {
    border-top: 2px solid #838383;
    border-left: 2px solid #838383;
    border-right: 2px solid #393939;
    border-bottom: 2px solid #393939;
    box-shadow: #292929 0 0 0 2px;
    background: linear-gradient(90deg, rgba(68, 68, 68, 1) 0, rgba(119, 119, 119, 1) 67%);
}

.status-message-container {
    display: flex;
    justify-content: space-around; /* 要素間にスペースを均等に配置 */
    align-items: center; /* 垂直方向の中央揃え */
    width: 100%; /* コンテナ全体の幅を使用 */
    height: 100%;
}

.status, .message-box {
    padding: 10px;
    margin: 5px;
    text-align: left;
    opacity: 0.9;
    margin-top: 50px;
    box-sizing: border-box; /* パディングとボーダーを含めてサイズを計算 */
}

.status {
    width: 30%; /* コンテナ全体の幅を使用 */
    height: 200px; /* 高さを200pxに固定 */
    color: white; /* フォントの色を白に設定 */
}

.message-box {
    overflow-y: auto; /* 縦方向にスクロールバーを表示 */
    width: 70%; /* コンテナ全体の幅を使用 */
    height: 200px; /* 高さを200pxに固定 */
    color: white; /* フォントの色を白に設定 */
}

/* 十字配置部品 */
.cross-layout {
    position: absolute;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    justify-content: center; /* ボタンを水平方向に中央揃え */
    bottom: 0px; /* 下から0pxの位置 */
    left: 50%; /* 左から50%の位置 */
    transform: translateX(-50%); /* X軸方向に自身の幅の半分だけ左にずらす */
}

.cross-layout .position-top {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.cross-layout .position-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.cross-layout .position-center {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.cross-layout .position-right {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.cross-layout .position-bottom {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/* 十字キー */
.cross-key-btn {
    width: 50px;
    height: 50px;
    background-color: rgba(66, 86, 123, 0.5);
    opacity: 0.9;
    border-style: none;
    cursor: pointer;
}

.left-mark {
    display: block;
    transform: rotate(-90deg);
}

.right-mark {
    display: block;
    transform: rotate(90deg);
}

.bottom-mark {
    display: block;
    transform: rotate(180deg);
}

/* 十字キーにカーソルが重なったときの挙動 */
button.position-center:hover,
button.position-top:hover,
button.position-left:hover,
button.position-right:hover,
button.position-bottom:hover {
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 2.0em; /* フォントサイズを大きくする */
}

button.position-top:hover {
    display: flex;
    align-items: flex-start; /* フレックスボックスを使用して上端に揃える */
    justify-content: center; /* 水平方向に中央揃え */
}

button.position-left:hover {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
    justify-content: flex-start; /* 水平方向に左揃え */
}

button.position-right:hover {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
    justify-content: flex-end; /* 水平方向に右揃え */
}

button.position-bottom:hover {
    display: flex;
    align-items: flex-end; /* フレックスボックスを使用して下端に揃える */
    justify-content: center; /* 水平方向に中央揃え */
}

/* オーバーレイ */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    display: none;
    z-index: 10;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* 説明書オーバーレイ */
.manual {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* 最初は非表示 */
}

.manual img {
    max-width: 90%;
    max-height: 90%;
}
